In [8]:
#Loops ex Q1

height = int(input("Enter the height of the triangle: "))

# Loop through each row of the triangle
for i in range(1, height + 1):

    # Print stars for the current row
    for k in range(i):
        print("*", end="")
    
    # Move to the next line for the next row
    print()

*
**
***
****

In [17]:
#Q2

height = int(input("Enter the height of the triangle: "))


for i in range(1, height + 1):
    for k in range(height +1 - i):
        print("*", end="")
    
   
    print()

***
**
*

In [21]:
#Q3

height = int(input("Enter the height of the triangle: "))

for i in range(1, height + 1):

    for j in range(height +1 - i):
        print(" ", end="")

    for k in range(2*i - 1):
        print("*", end="")
    
    
    print()

       *
      ***
     *****
    *******
   *********
  ***********
 *************

In [30]:
#Q4

def main():
   CELSIUS = float(input ("Enter the first amount in Celsius: "))
   number_of_lines = int(input("Enter the number of lines for the table: "))
   difference_in_celsius = int(input("Enter a whole number difference between lines in Celsius:"))
   FAHRENHEIT = (9/5) * CELSIUS + 32
   print("\n\tCELSIUS\t\tFAHRENHEIT")
   
   line_counter = 1
   while line_counter <= number_of_lines:
         print("\t{:.0f}\t\t{:.1f}".format(CELSIUS, (9/5) * CELSIUS + 32))
         CELSIUS = CELSIUS + difference_in_celsius
         line_counter = line_counter + 1

if __name__ == "__main__":
   main()   

#\n: 表示换行符，它用于在文本中创建新的行。当遇到\n时，文本将在当前位置断开并移到下一行。
#\t: 表示制表符，它用于在文本中创建水平制表停止（通常相当于四个空格）。它用于在文本中对齐文本或数据。
#怎么在两列的名字和数字中间空两行？？？

	CELSIUS		FAHRENHEIT
	35		95.0
	37		98.6
	39		102.2
	41		105.8
	43		109.4

In [ ]:
#Q5

def main():
   AGE = float(input ("Enter your age: "))
   Criminal_record = input("Do you have a criminal record? (y/n): ")

   if Criminal_record != "n" and Criminal_record != "y":
      print("Incorrect input.")
   else: 
      if 18 <= AGE <= 65 and Criminal_record == "n":
         print("You are required to do jury service.")
      else:
         print("You are excluded from jury service.")
     
   
if __name__ == "__main__":
    main()

In [ ]:
#Q6

SimpleInputOutput Question

In [45]:
#Q1

def main():
    year_now = int(input("Enter the current year then press RETURN: "))
    age_now = int(input("Enter your current age in years: "))
    another_year = int(input("Enter the year in which you wish to know your age: "))
    another_age = another_year - (year_now - age_now)
    print("Your age in {}: {}".format(another_year, another_age))


if __name__ == "__main__":
    main()

Your age in 2: 2

In [47]:
#Q2

def main ():
    Number = int(input("Enter a value for 'number':"))
    Twice_number = Number * 2
    print ("The value of 'number' is", Number, ".", 
           "\nThe value of 'twice_number' is", Twice_number,".")
    
if __name__ == "__main__":
    main()

The value of 'number' is 2 .
The value of 'twice_number' is 4 .

In [50]:
#Q3

def main():
    year_now = int(input("Enter the current year then press RETURN: "))
    age_now = int(input("Enter your current age in years: "))
    another_year = int(input("Enter the year in which you wish to know your age: "))
    another_age = another_year - (year_now - age_now)
    if another_age > 150:
       print("Sorry, but you'll probably be dead by", another_year,"!")
    else:
        if another_age < 0:
           print("You weren't born in", another_year)
        else:
            print("Your age in {}: {}".format(another_year, another_age))


if __name__ == "__main__":
    main()

You weren't born in 1

In [52]:
#Q4
def main():
    year_now = int(input("Enter the current year then press RETURN: "))
    month_now = int(input("Enter the current month (a number from 1 to 12): "))
    age_now = int(input("Enter your current age in years: "))
    month_born = int(input("Enter the month in which you were born (a number from 1 to 12) "))
    another_year = int(input("Enter the year for which you wish to know your age: "))
    another_month = int(input(" Enter the month in this year: "))
    
    if another_month >= month_born:
        years = another_year - year_now + age_now
        months = another_month - month_born
        if months <= 1:
          print("Your age in {}/{} : {} years and {} month."
          .format(another_month, another_year, years, months))
        else:
            print("Your age in {}/{} : {} years and {} months."
            .format(another_month, another_year, years, months))
    else:
        years = another_year - year_now + age_now - 1
        months = 12 - month_born + another_month
        if months <= 1:
          print("Your age in {}/{} : {} years and {} month."
          .format(another_month, another_year, years, months))
        else:
            print("Your age in {}/{} : {} years and {} months."
            .format(another_month, another_year, years, months))
        

if __name__ == "__main__":
    main()

Your age in 10/2024 : 23 years and 5 months.

Week 2 Problems

Q1
1. Write a console program that displays all the numbers in the Fibonacci Sequence up to a given max, starting with 0. The Italian mathematician Leonardo Fibonacci devised the Fibonacci sequence as a way to model the growth of a population of rabbits. The first two terms in the sequence are 0 and 1, and every subsequent term is a sum of the previous two terms. (The Fibonacci sequence has numerous applications in computer science and shows up in surprising places. It's used to compute logarithms, index and retrieve data, and as a building block in some route-planning algorithms.)

Output from one example run:

This program lists the Fibonacci sequence.
Max value? 10000
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765

In [4]:
def main() :
    Max = int(input("Max value? "))
    
    a = 0
    b = 1
    while b <= Max:
       print (a, end = ',')
       next = a
       a = b
       b = next + b

       

if __name__ == "__main__":
    main()

0,1,1,2,3,5,8,13,21,34,55,

2. Write a console program that prompts the user to type an integer and computes the sum of the digits of that integer. You may assume that the user types a non-negative integer. Match the following output format:

Type an integer: 827104
Digit sum is 22

In [5]:
number = input("Enter an integer: ")

digit_sum = 0 # Initialize the sum of digits to 0

for digit in number:   # Calculate the sum of digits
   
    digit_sum += int(digit)  # Convert to an integer and add it to the sum

print("Digit sum is", digit_sum)

Digit sum is 10

3. Write a function named add_commas that accepts a string representing a number and returns a new string with a comma at every third position, starting from the right.

For example, the call of add_commas("12345678") returns "12,345,678".

In [1]:
def main():

    def add_commas(number_str):
        
        # Initialize variables
        result = ""
        count = 0
        
        # Iterate through the characters of the number string in reverse order
        for char in reversed(number_str):
            count += 1
            result = char + result
            
            # Add a comma after every third digit (except for the last group)
            if count == 3 and len(number_str) > 3:
                result = "," + result
                count = 0
        
        return result

    # Example usage:
    number_str = "12345678"
    formatted_number = add_commas(number_str)
    print(formatted_number)  # Output: "12,345,678"


if __name__ == "__main__":
    main()

12,345,678

4. Write a function named remove_duplicates that accepts a string parameter and returns a new string with all consecutive occurrences of the same character in the string replaced by a single occurrence of that character.

For example, the call of remove_duplicates("bookkeeeeeper") should return "bokeper".

In [7]:
def main () :
    

    def remove_duplicates(input_str): 
        
        result = input_str[0]

        for i in range (1, len(input_str)):
            if input_str[i] != input_str[i - 1]:  #!= means not equal to
               result += input_str[i]

        return result 
   

    input_str = "boooook"
    result_str = remove_duplicates(input_str)
    print(result_str)


if __name__ == "__main__":
    main()

bok

5. Write a function named is_rotation that accepts two strings as parameters and returns true if they are rotations of each other. Two strings are considered rotations if they contain the same characters in the same relative order when wrapped around.

For example, the call of is_rotation("abcde", "deabc") should return True. The call of is_rotation("abcde", "edcba") should return False because the characters are not in the same order.

Note: a string is also considered to be its own rotation.

In [7]:
def main () :
    

    def is_rotation (str1, str2):
        if len(str1) != len(str2):
            return False
        str1 += str1
        
        if str2 in str1:
            return True
        else:
            return False
            
    string1 = "abcde" 
    string2 = "deabc"
    result = is_rotation(string1, string2)
    print(result)  

if __name__ == "__main__":
    main()

True